{% load static %}

<style>
  #map {
    position: relative;
    z-index: 0;
    bottom: 0px;
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
</style>

<div id="map"></div>



<script>
    let map;
    let icon;
    let locationIcon;
    let options = {
        maxZoom: 18,
        showZoom: false, // Hide the default zoom buttons
        showCompass: false // Hide the default compass con
    };

    icon = L.icon({
        iconUrl: '{% static 'base_view/img/bus-stop-map.png' %}',
        iconSize: [15, 15],
    });

    locationIcon = L.icon({
        iconUrl: '{% static 'base_view/img/location-black.png' %}',
        iconSize: [25, 25],
    });

    let routingControls = [];
    let polylines = [];

    // Function to remove all routing controls and polylines from the map
    const removeRoutingControl = () => {
        routingControls.forEach((control) => {
            map.removeControl(control);
        });
        routingControls = [];

        polylines.forEach((polyline) => {
            map.removeLayer(polyline);
        });
        polylines = [];
    };

    const draw_route = (array) => {
        removeRoutingControl();
        const keys = Object.keys(array);

        for (let key in array) {
            if (array.hasOwnProperty(key)) {
                const coords = array[key].map(coord => L.latLng(coord[0], coord[1]));

                if (coords.length === 2) {
                    const routingControl = L.Routing.control({
                        waypoints: coords,
                        router: L.Routing.mapbox(MAP_ACCESS_TOKEN, {
                            profile: 'mapbox/walking'
                        }),
                        lineOptions: {
                            styles: [{ color: getColor(key), opacity: 0.7, weight: 2 }],
                        },
                        fitSelectedRoutes: false,
                        show: false,
                        createMarker: function (i, wp, nWps) {
                            if ((key == 0 && i === 0 ) || (key == keys.length - 1 && i === nWps - 1)) {
                                return L.marker(wp.latLng, {
                                    icon: locationIcon,
                                    draggable: false,
                                });
                            }
                            return null;
                        },
                    }).addTo(map);

                    routingControl.on('routingerror', function (e) {
                        console.error('Routing error:', e);
                    });

                    routingControls.push(routingControl);
                } else if (coords.length > 2) {
                    // Use polyline for more than two coordinates
                    const polyline = L.polyline(coords, {
                        color: getColor(key),
                        weight: 2,
                        opacity: 0.7,
                    }).addTo(map);

                    polylines.push(polyline);
                }
            }
        }
    }

    function getColor(key) {
        const colors = ["purple", "green", "blue", "orange", "red", "yellow"];
        return colors[key % colors.length];
    }

    const MAP_ACCESS_TOKEN = 'pk.eyJ1IjoiZHVkdXMxMDExIiwiYSI6ImNtMWtxdjkydTAwc3Mya3NsbGlpbjFiM2YifQ.w-uW_GSRBAHTlunGVNt6LQ'

    map = L.map("map", options).setView({{ center_coordinates }}, 16.44);
    L.tileLayer(
        'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}',
         {
            attribution:
            '© <a href="https://www.mapbox.com/contribute/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            maxZoom: 25.5,
            id: 'mapbox/streets-v11',
            accessToken: MAP_ACCESS_TOKEN
        }
    ).addTo(map);
    removeRoutingControl();
</script>
