{% load static %}
<div id="back-btn">
  <img id="back-icon" src="{% static 'base_view/img/arrow_icon.svg' %}"/>
  cofnij
</div>
<form action="{% url 'route_search:FindRoute' %}" method="post" id="routeForm" class="routeContainer">
  {% csrf_token %}
  <div class="form__group field">
    <input
      type="text"
      class="form__field"
      name="start_location"
      id="firstStation"
      required
    />
    <label for="firstStation" class="form__label">Przystanek początkowy</label>
    <span class="suggestion" id="suggestionFirstStation"></span>
  </div>
  <div class="form__group field">
    <input
      type="text"
      class="form__field"
      name="goal_location"
      id="goalStation"
      required
    />
    <label for="goalStation" class="form__label">Przystanek docelowy</label>
    <span class="suggestion" id="suggestionSecondStation"></span>
  </div>
  <div class="form__group field">
    <input
      type="time"
      class="form__field"
      name="time"
      id="hour"
      required
    />
    <label for="hour" class="form__label">Godzina i dzień wyjazdu</label>
  </div>
  <button type="submit" id="search-btn" class="search-btn">Szukaj</button>
</form>

<script>

  document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById('routeForm');

    form.addEventListener('submit', async function (e) {
        e.preventDefault();

        const formData = new FormData(form);
        formData.append('city', '{{city}}');
        document.getElementById('foundRoutes').innerHTML = '<span id="loader" class="show"></span>';

        try {
            const routeResponse = await fetch('{% url 'route_search:FindRoute' %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                },
            });

            const response = await routeResponse.json();
            const routeData = response.html;
            
            const departureCoordinates = response.coords;
            console.log(departureCoordinates)
            sessionStorage.setItem('departureCoordinates', JSON.stringify(departureCoordinates));
            
            

            const departuresDetailsData = response.details;
            sessionStorage.setItem('departuresDetails', JSON.stringify(departuresDetailsData))
            
            
            
            document.getElementById('foundRoutes').innerHTML = '';
            document.getElementById('foundRoutes').innerHTML = '<span id="loader"></span>'
            Object.keys(routeData).forEach(key => {
                const solution = routeData[key];
                document.getElementById('foundRoutes').innerHTML += solution['div']

            });
            draw_route(departureCoordinates[0])
            show_departure_details(departuresDetailsData[0])
            
        } catch (error) {
            console.error('Error:', error);
        }
    });
});
      

</script>
